.image-text__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}
img.image-text__block-image-image {
  width: 100%;
  height: 100%;
}
.image-text__block-container--item {
  padding: 10px 30px;
  width: 16.66%;
}
.image-text__section.image-text--template--21880410702122__0f8ebc3b-7c78-4c54-9f07-c19a3bf19eb6 {
  margin: 50px auto;
}
.image-text__block-image {

  border-radius: 50%;
  background: #E8E8E8;
  overflow: hidden;
  height: 50%;
  margin-bottom: 10px;
}
.image-text__block-text {
  font-size: calc(var(--font-body-scale) * 1.6rem);
  color: #000;
  text-transform: uppercase;
  min-height: 40px;
}
.image-text__flex::-webkit-scrollbar {
  display: none;
}
.image-text__flex {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.brands-container--item{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: calc(100% / 9);
  width: calc(100% / 9);
  padding-right: 10px;
  justify-content: space-evenly;
}
.image-text__block-text{
  font-size: calc(var(--font-body-scale) * 1rem);
}
@media only screen and (max-width: 750px) {
  .image-text__block-container {
    padding: 0;
    width: 40%;
    margin-right: 30px;
  }
  .image-text__flex {
    width: 100%;
    display: flex;
    overflow: scroll;
  }
  .brands-container--item{
    padding-right: 5px;
  }
}
.brands-container .flickity-prev-next-button.previous{
  display: none;
}
.brands-container .flickity-prev-next-button.next{
  display: none;
}
@media only screen and (min-width: 750px){
  .brands-container .flickity-prev-next-button.previous{
    display: block;
    left: -60px;
  }
  .brands-container .flickity-prev-next-button.next{
    display: block;
    right: -60px;
  }
  .image-text__block-text {
    font-size: calc(var(--font-body-scale) * 1.1rem);
  }
}
