.multi-image-banner__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1rem;
}
.banner__box>p{
  text-align: right;
  font-family: Interstate;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.half-banner {
  width: 50%;
  padding: 1rem;
}
.half-banner.three-banners {
  width: 33.33%;
  padding: 1rem;
}
.multi-banner__image {
  width: 100%;
  height: auto;
}
.multi-image-banner__wrapper .banner__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.half-banner.banner {
  flex-direction: unset;
}
.multi-image-banner__wrapper .banner__box.content-container {
  background: transparent;
}
.multi-image-banner__wrapper .banner__buttons .link-button {
  background: #363757;
  color: #fff;
  padding: 1.1rem;
  min-width: 20rem;
}
.banner--content-center .banner__content{
  justify-content: end;
}
.banner--content-left .banner__content{
  justify-content: left;
  padding-left: 3rem;
}
.banner--content-right .banner__content{
  justify-content: right;
  padding-right: 3rem;
}
.multi-image-banner__wrapper .banner__box {
  padding:0;
}
.multi-banner__heading {
  margin-bottom: 4rem;
}
.multi-image-banner__section {
  margin: 2.5rem auto;
}
.multi-image-banner__wrapper .banner__buttons .multi-banner__button:hover {
  color: #000;
  background: #fff;
  border: 1px solid #231F20;
}
@media screen and (max-width: 749px){
  .multi-banner__heading {
    margin-bottom: 2rem;
  }
  .half-banner {
    width: 100%;
    padding: 0 1rem;
  }
  .multi-image-banner__wrapper{
    flex-direction: column;
  }
  .multi-image-banner__wrapper .banner__buttons.banner__buttons--multiple {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .multi-image-banner__wrapper .banner__buttons .link-button {
    flex-grow: unset;
    min-width: 11rem;
    padding: 1rem;
  }
  .banner--content-mobile-center .banner__content{
    justify-content: center;
  }
  .banner--content-mobile-left .banner__content{
    justify-content: left;
    padding-left: 3rem;
  }
  .banner--content-mobile-right .banner__content{
    justify-content: right;
    padding-right: 3rem;
  }
  .multi-image-banner__section {
    margin: 1.6rem auto 0;
  }
  .half-banner {
    margin-bottom: 2.4rem;
  }
  .half-banner.three-banners{
    width:100%;
  }
  .multi-image-banner__wrapper a{
    width:100%;
  }
  .banner__box>p{
    font-weight:400;
  }
}